body{
    background-color: #b2c4dd !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formulario{
    background-color: #b2c4dd !important;
}
.user-img{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 50%;
}

.color-card-2{
    background-color: #b2c4dd !important;
    border: none !important;
}

.color-card{
    background-color: rgb(59 80 151) !important;
    
}

.card-body{
    border-radius: 30px;
}

.info{
    color: white;
    list-style: none;
    align-items: center;
    margin-top: 10px;
    
}

.formulario{
    margin-left: 30%;
    margin-top: 10%;
}