body{
    background-color: #b2c4dd !important;
}
.formulario{
    background-color: #b2c4dd !important;
}
.user-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.color-card{
    background-color: rgb(59 80 151) !important;
    
}

.card-body{
    border-radius: 30px;
}